.accordion {
    color: #5d5d5d;
    cursor: pointer;
    padding: 0px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
    background: none;
  }
  
  .accordioncenter {
    color: #5d5d5d;
    cursor: pointer;
    padding: 0px;
    width: 100%;
    height: 33px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
    background: none;
    text-indent:1em;
  }
  .active, .accordion:hover {
    color: #098A82;
    background-color: #ffffff;
  }
  .active, .accordioncenter:hover {
    color: #098A82;
    background-color: #ffffff;
  }
  .accordion:after {
    content: '\276F';
    color: #5d5d5d;
    font-weight: bold;
    font-size: 20px;
    float: right;
    margin-left: 5px;
  }
  .accordioncenter:after {
    content: '\276F';
    color: #5d5d5d;
    font-weight: bold;
    font-size: 20px;
    float: right;
    margin-left: 5px;
  }
  .accordioncenter:after {
    content: '\276F';
    color: #5d5d5d;
    font-weight: bold;
    font-size: 20px;
    float: right;
    margin:-49px 470px 19px 34px; 
  }
  .active:after {
    content: "\2212";
    font-size: 21px;
    color: #098A82;
  }
  
  .panel {
    margin: 0px auto;
    
    width: 100%;
    padding: 0px 0px 0px;
    background-color: #FFFFFF;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .panelsv {
    margin: 20px auto;
    width: 100%;
    font-size: 15px;
    color: #FFFFFF;
    padding: 0 0px;
    background-color: #098A82;
    max-height: 0px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    text-align:center;
    transition: max-height 0.2s ease-out;
  }