
.mySlidesH{
  display: none;
  text-align: center;
}
.textSlideH{
  z-index: 2; 
  width:170px; height:55px;
  text-align: justify;
  color:#FFFFFF; 
  font-weight: bold; 
  font-size:20px;
  position: absolute;
  margin:27px 2px;
}
.textSlideTH{
  z-index: 2; 
  width:210px; height:110px;
  text-align: justify;
  color:#FFFFFF; 
  font-size:11px;
  position: absolute;
  margin:0px 25px;
}

.prevH, .nextH {
  cursor: pointer;
  position: absolute;
  top: 0px;
  width: auto;
  font-weight: bold;
  font-size: 30px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  margin: 20px 30px 0px;
  z-index: 4;
}

.nexth {
  position: absolute;
  right: 0;
}

.nextr {
  position: absolute;
  right: 0;
}

.contentXTH{
  margin: -130px auto 0px 123px; 
  z-index: 2; 
  position: absolute; 
  width: 66%; 
  height: 115px;
}