
/* Slide */
.mySlidesR{
    display: none;
    text-align: center;
  }
  .textSlideR{
    z-index: 2; 
    width:170px; height:55px;
    text-align: justify;
    color:#FFFFFF; 
    font-weight: bold; 
    font-size:20px;
    position: absolute;
    margin:27px 2px;
  }
  .textSlideTR{
    z-index: 2; 
    width:215px; height:33px;
    text-align: justify;
    color:#FFFFFF; 
    font-size:11px;
    position: absolute;
    margin:40px 20px;
  }
  /* Next & previous buttons */
  .prevR, .nextR{
    cursor: pointer;
    position: absolute;
    top: 0px;
    width: auto;
    font-weight: bold;
    font-size: 30px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    margin: 40px 30px 0px;
    z-index: 4;
  }
  
  .nextR {
    position: absolute;
    right: 0;
  }
  
  .contentXTR{
    margin: -130px auto 0px 123px; 
    z-index: 2; 
    position: absolute; 
    width: 66%; 
    height: 115px;
  }